<!DOCTYPE html>
<html>

<head>
<title>Keeplay</title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="{{ media_url }}css/arcadeI_webfont/stylesheet.css" />

<link rel="stylesheet" type="text/css" href="{{ media_url }}css/game.css" />
<script type="text/javascript" src="{{ media_url }}js/libs/audiolib.min.js"></script>
<script type="text/javascript" src="{{ media_url }}js/libs/jquery.simplemodal.1.4.1.min.js"></script>
<script type="text/javascript" src="{{ media_url }}js/audio_gen.js"> </script>
<script type="text/javascript" src="{{ media_url }}js/falling_block.js"> </script>
<script type="text/javascript" src="{{ media_url }}js/player.js"> </script>
<script type="text/javascript" src="{{ media_url }}js/game_engine.js"> </script>
<script type="text/javascript" src="{{ media_url }}js/game_init.js"> </script>

<script type="text/javascript">



$(document).ready(function(){	
	var game = gameInit({'media_url':'{{media_url}}'});
	game.doInit();
});



</script>

</head>
<body>
<div class="container">
<div id="logo"><img src="{{ media_url }}img/logo.png" style="height: 15%"/></div>
<div id="melody_pick" class="modal">
	<p>Pick a key!</p>
	<div id="sliderarea">
		<div id="keyslider"></div>
		<div id="keydisplay">C</div>
	</div>
	<br />
	<p>Musician mode:</p>
	<div id="musicianmode">OFF</div>
	<br />
	<p>Play with a melody!</p>
	<ul>
	{% for i in xrange(len(melodies)) %}
		<li id="mel{{i}}" class="melody">
			Slot {{i}}:<br />
			<a class="melPlay">Play</a> & <a class="melSelect">Use</a>
			<input type="hidden" value='{{melodies[i]}}' class="melJSON" id="melodyJSON{{i}}"/>

		</li>
	{% end %}
	</ul>
	<a id="noMel">Play with no melody.</a>
</div>
<div id="score">0</div>
<canvas id="canvas" width="400" height="500">

</canvas>
<div id="preload">
	<img src="{{ media_url }}img/block.png" id="block" />
	<img src="{{ media_url }}img/badblock.png" id="badblock" />
	<img src="{{ media_url }}img/miss.png" id="miss" />
</div>
<div id="missCounter"></div>
</div>
<div id="nextNote"></div>
<div id="matchIndicator"></div>
<div id="gameOver" class="modal">
<h2>Game Over!</h2>
<p id="finalScore"></p>
<p id="highScores"></p>
<p id="loginAlert"></p>
<br />
<p id="saveMel">Save your melody? Click <a id="exportMelody">here.</a></p>
<br /><br />
<p>Click <a href="">here</a> to try again.</p>
</div>
</body>
</html>
