<!DOCTYPE html>
<html>
<head>
<title>Keeplay: Instructions</title>
<link rel="stylesheet" type="text/css" href="{{ media_url }}css/game.css" />
<link rel="stylesheet" type="text/css" href="{{ media_url }}css/arcadeN_webfont/stylesheet.css" />

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
</head>
<body>
        <div class="main">
                <div class="container">
                                <div class="main-ctrls">
                                        <div id="logo"><img src="{{ media_url }}img/logo.png"/></div>
					<div id="instructions"><img src="{{ media_url }}img/instructions.png" ></div>
                                        <br /><p>Use the mouse to catch the notes in the right key as they fall from the top of the screen.</p>
					<br /><p>Catch a note in the wrong key, and you get a strike. Three strikes, and the game is over.</p>
					<br /><p>You can save your melody at the end of the game and play it back during the next round. Catch the right notes to match your saved melody.</p>
					<div id="back"><a href="/"><img src="{{ media_url }}img/backbutton.png"/></a></div>
                                </div>
                </div>
        </div>
</body>
</html>

