<!DOCTYPE html>
<html>
<head>
<title>Keeplay</title>

<link rel="stylesheet" type="text/css" href="{{ media_url }}css/game.css" />
<link rel="stylesheet" type="text/css" href="{{ media_url }}css/arcadeN_webfont/stylesheet.css" />

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
</head>
<body>
	<div class="main">
		<div class="container">
				<div class="main-ctrls">
					<div id="logo"><img src="{{ media_url }}img/logo.png"/></div>
					<div id="startbutton"><a href="/initgame"><img src="{{ media_url }}img/startbutton.png"/></a></div>
					<div id="notes"><img src="{{ media_url }}img/notes.png"/></div>
					<div id="instructions"><a href="/instructions"><img src="{{ media_url }}img/instructions.png" /></a></div>
					<br><br>
					<p class="aside">(Keeplay uses Facebook auth to save your score)</p>
					<p class="aside">Get the source <a href="http://www.github.com/estenh/keeplay/" target="_blank">on GitHub!</a></p>
					<br /><br />
					<p class="aside">By Faye Han and Esten Hurtle</p>
				</div>
		</div>
	</div>
</body>
</html>
